@use "base/mixins" as m;


.pantalla-carga {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 3s ease-in-out;

    h1 {
        font-size: 2rem;
        color:aliceblue;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include m.tablet{
            font-size: 3rem;
            margin-bottom: 6rem;
        }

    }

    #logo-vasa-carga{
        width: 30%;
        margin-top: 60%;
    }
}
.spinner {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .dot {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        background-color: #f5f5f5;
        border-radius: 50%;
        animation: bounce 1.4s infinite ease-in-out both;

        .dot:nth-child(1) {
            animation-delay: -0.32s;
        }
        .dot:nth-child(2) {
            animation-delay: -0.16s;
        }
    }
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}